body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #A7DC58;
  color: #333;
}

header {
  background: #A7DC58;
  color: white;
  padding: 2rem;
 
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav a {
  color: #005800 ;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 2rem;
  background: white;
  margin: 1rem;
  border-radius: 8px;
}

.card {
  background: #e0f2f1;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 6px;
}

button {
  background: #00796b;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background: #004d40;
}

form input, form textarea {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #004d40;
  color: white;
}